@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
  
  /* div{
    display: block;
    padding: 20px;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    background: #FFF;
    border-radius: 80px;
    border-bottom: 5px solid #CCD1D9;
  } */
  
  h1{
    font-family: 'Poppins';
     animation: Color 4s linear infinite;
    -webkit-animation: Color 4s ease-in-out infinite;
    /* text-shadow: 10px 10px #F0F0F0; */
  }
  
  @keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-moz-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  
  @-webkit-keyframes Color{
    0%{
      color:#A0D468;
    }
    
    20%{
      color:#4FC1E9;
    }
    
    40%{
      color:#FFCE54;
    }
    
    60%{
      color:#FC6E51;
    }
    
    80%{
      color:#ED5565;
    }
    
    100%{
      color:#AC92EC;
    }
  }
  